@font-face {
  font-family: "iconfont"; /* Project id 3579862 */
  src: url('iconfont.woff2?t=1660117518754') format('woff2'),
       url('iconfont.woff?t=1660117518754') format('woff'),
       url('iconfont.ttf?t=1660117518754') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before {
  content: "\e623";
}

.icon-icon:before {
  content: "\e658";
}

